---
import Card from "../components/Card.astro"
---

<section class="card_section_grid">
<div><Card/ title="Miley Cyrus" description="Artist"></div>
<div><Card/ title="Kesi" description="Artist"></div>
<div><Card/ title="The Weeknd" description="Artist"></div>
<div><Card/ title="Medina" description="Artist"></div>
<div><Card/ title="Lady Gaga" description="Artist"></div>
</section>

