---
const { title, description } = Astro.props;
---

<li>
    <img src="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" alt="miley">
    <h3></h3>
    <p></p>
</li>


<article>
  <h2>{title}</h2>
  <p>{description}</p>
</article>


<style>
    li{
        list-style: none;
    }
</style>