<footer>

<div class="grid_footer">
<div>
    <h4>Virksomheden</h4>
    <p>Om</p>
    <p>Job</p>
    <p>For the Record</p>
</div>
<div>
    <h4>Fællesskaber</h4>
    <p>Til kunstnere</p>
    <p>Udviklere</p>
    <p>Annoncering</p>
    <p>Investorer</p>
    <p>Forhandlere</p>
</div>
<div>
    <h4>Nyttige links</h4>
    <p>Support</p>
    <p>Gratis mobilapp</p>
</div>
<div>
    <h4>Spotify-abonnementer</h4>
    <p>Premium Individual</p>
    <p>Premium Duo</p>
    <p>Premium Family</p>
    <p>Premium Student</p>
    <p>Spotify Free</p>
</div>
<div>
    <div class="flex_so_me_footer">
        <p>icon</p>    
        <p>icon</p>    
        <p>icon</p>
    </div>
</div>
</div> 
<hr>
<h4>© 2024 Spotify AB</h4>
</footer>
 